

html, body, #root{
  height: 100%;
  background: linear-gradient(to bottom right, #7b4397, #dc2430);
}

#logo{
  box-sizing: border-box;
  height: 100%;
  padding: 0.2rem;
  padding-left: 1rem;
  
}

#page{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr;
}

.navlink{
  display: flex;
  /* width: 8%; */
  align-items: center;
  justify-content: space-between;
}

.navlink a{
  margin-right: 1rem;
}

#main-header{
  /* background-color: #FAF; */
  background-color: #1C3041;
  /* color: #000; */
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  /* background: linear-gradient(to bottom right, #FAF, #dc2430); */
}

a:visited{
  color: #ffffff;
}

#main-content{
  background-color: #ffd1ff;
  padding: 1rem;
}

#predict{
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
}

#predict>form{
  width: 80%;
  height: 2.5rem;
}

input[type="text"]{
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  border: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}


button{
  box-sizing: border-box;
  height: 100%;
  width: 20%;
  border: none;
  cursor: pointer;
  background-color: #61A0AF;
  color: #ffffff;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.genre{
  font-size: medium;
}

.top-0{
  font-size: xx-large;
  font-weight: bolder;
}

.top-1{
  font-size: x-large;
  font-weight: bold;
}

.top-2{
  font-size: large;
  font-weight: bold;
}

#prediction{
  border-radius: 15px;
  margin-top: 2rem;
  height: 100%;
  background-color: #ffffff;
  width: 80%;
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 50vh; */
}

#prediction .top-left{
  grid-column: 1;
  grid-row: 1;
  border-right: 1px solid lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#prediction .top-right{
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#prediction .bottom{
  grid-column: 1/3;
  grid-row: 2/3;
  border-top: 1px solid lightblue;
}

.recharts-line .recharts-curve {
  stroke: none;
}

.custom-tooltip{
  background-color: #ffffff;
  border: 1px solid #faf;
  width: 8rem;
}

.genre-icon{
  width: 10rem;
}

.genre-icon+div{
  font-weight: 800;
  font-size: 1.5rem;
}

ul{
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  #predict>form{
    width: 100%;
  }

  #prediction{
    width: 100%;
    /* align-items: flex-start; */
  }

  #main-content{
    padding-left: 0;
    padding-right: 0;
  }
}

