html, body, #root{
    height: 100%;
}

#page{
    height: 100%;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 15% 1fr;
    background-color: blue;
}

#header{
    background-color: red;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header>div{
    font-size: 3rem;
    /* margin: auto; */

}

#content{
    background-color: #FAF;
    overflow-y: scroll;
}

#sidebar{
    background-color: green;
}